#/node_modules
/node_modules/.cache/terser-webpack-plugin/index-v5
/storage/audio-convert/*
/public/hot
/public/storage
/public/js/chunks
#/public/css
/public/fonts
#/public/images
/storage/*.key
/vendor
.env
.env.production
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
supervisord.log
supervisord.pid
package-lock.json
